src/tmp/
dotfiles.zsh
src/cache/
!src/XDG_CONFIG_HOME/tmux
src/XDG_CONFIG_HOME/
letsencrypt/

**/node_modules/

# web-vim
src/plugins/web-vim/cache/
src/plugins/web-vim/data/nvim/lazy/lazy.nvim
src/plugins/web-vim/state/
!src/plugins/web-vim/data/nvim/lazy-lock.json
src/plugins/web-vim/data/

# beta-vim
src/plugins/beta-vim/cache/
src/plugins/beta-vim/data/nvim/lazy/lazy.nvim