.DS_Store
src/tmp/
dotfiles.zsh
src/cache/
!src/XDG_CONFIG_HOME/tmux
src/XDG_CONFIG_HOME/
letsencrypt/

!src/XDG_CACHE_HOME/.gitkeep
src/XDG_CACHE_HOME/

**/node_modules/

# web-vim
src/plugins/web-vim/cache/
src/plugins/web-vim/data/nvim/lazy/lazy.nvim
src/plugins/web-vim/state/
!src/plugins/web-vim/data/nvim/lazy-lock.json
src/plugins/web-vim/data/

# rust-vim
src/plugins/rust-vim/cache/
src/plugins/rust-vim/data/
src/plugins/rust-vim/state/
src/plugins/rust-vim/config/



# beta-vim
src/plugins/beta-vim/cache/
src/plugins/beta-vim/data/
src/plugins/beta-vim/state/
src/plugins/beta-vim/config/

src/plugins/**/config/github-copilot/
